*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style: none;
}

button,
input {
  border: 0;
  background: none;
}

button,
input:focus {
  border: 0;
  background: none;
  outline: none;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=_icon-]:before {
  display: block;
}

._icon-icologo:before {
  content: "\e900";
}

._icon-location:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-phone:before {
  content: "\e903";
}

._icon-textlogo:before {
  content: "\e904";
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  line-height: 1;
  height: 100%;
  color: #fff;
  font-family: "Montserrat";
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
  /*  @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }  */
}

.header__body {
  padding-top: 90px;
  padding-bottom: 90px;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo .icologo {
  margin-right: 10px;
}

.header__logo .icologo::before {
  font-size: 40px;
  color: #00E1F2;
}

.header__logo .textlogo::before {
  font-size: 22px;
  color: #fff;
}

.header__languages {
  margin-right: 145px;
}

.header__languages-link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__languages-link:not(:last-child) {
  margin-right: 15px;
}

.header__made {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 133%;
  font-size: 18px;
}

.header__made-img {
  margin-right: 10px;
}

.header__made-img img {
  display: block;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 10;
  position: relative;
}

.borika {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.borika .borika__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.borika a {
  width: 240px;
}

.borika a:not(:last-child) {
  margin-bottom: 30px;
}

.borika a:last-child {
  width: 185px;
}

.borika a:last-child img {
  width: 185px;
}

.borika img {
  width: 240px;
}

.main {
  padding-top: 55px;
  padding-bottom: 50px;
}

.main__title {
  font-weight: 600;
  line-height: 100%;
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 20px;
}

.main__description {
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
  max-width: 686px;
  font-size: 18px;
}

.main__contacts {
  margin-top: 75px;
}

.contacts-main__title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contacts-main__items {
  max-width: 470px;
}

.contacts-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.contacts-main__item:last-child {
  margin-bottom: 0;
}

.contacts-main__item span {
  width: 25px;
  padding-right: 37px;
}

.contacts-main__item span::before {
  font-size: 20px;
  line-height: 24px;
  color: #00E1F2;
}

.contacts-main__link,
.contacts-main b {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contacts-main__link span,
.contacts-main b span {
  font-weight: 300;
}

@media (min-width: 479.98px) {
  .contacts-main__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts-main__item:last-child {
    grid-area: 2/1/3/3;
  }
}

@media (min-width: 991.98px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__made {
    margin-right: 25px;
  }
}

@media (min-width: 1200px) {
  .page {
    background: url("../img/bg.png") top right/630px 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88)));
    background: url("../img/bg.png") top right/630px 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
    background: url("../img/bg.png") top right/630px 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
  }
}

@media (min-width: 1450px) {
  .borika {
    margin-top: 0;
    position: absolute;
    top: 50%;
    right: 200px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .borika a {
    width: 296px;
  }

  .borika a:not(:last-child) {
    margin-bottom: 35px;
  }

  .borika a:last-child {
    width: 236px;
  }

  .borika a:last-child img {
    width: 236px;
  }

  .borika img {
    width: 296px;
  }
}

@media (min-width: 2000px) {
  .page {
    background: url("../img/bg.png") top right/38.2812% 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88)));
    background: url("../img/bg.png") top right/38.2812% 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
    background: url("../img/bg.png") top right/38.2812% 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
  }
}

@media (max-width: 1850px) {
  .main__description {
    width: 57%;
  }
}

@media (max-width: 1640px) {
  .main__description {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .page {
    background: url("../img/bg.png") top right/500px 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88)));
    background: url("../img/bg.png") top right/500px 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
    background: url("../img/bg.png") top right/500px 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
  }
}

@media (max-width: 1150px) {
  .header__body {
    padding-top: calc(20px + 70 * ((100vw - 320px) / 830));
  }

  .header__body {
    padding-bottom: calc(20px + 70 * ((100vw - 320px) / 830));
  }

  .header__languages {
    margin-right: calc(0px + 145 * ((100vw - 320px) / 830));
  }

  .header__languages-link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 830));
  }

  .header__made {
    font-size: calc(12px + 6 * ((100vw - 320px) / 830));
  }

  .borika a:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 830));
  }

  .main {
    padding-top: calc(20px + 35 * ((100vw - 320px) / 830));
  }

  .main {
    padding-bottom: calc(35px + 15 * ((100vw - 320px) / 830));
  }

  .main__title {
    font-size: calc(20px + 20 * ((100vw - 320px) / 830));
  }

  .main__title {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 830));
  }

  .main__description {
    font-size: calc(16px + 2 * ((100vw - 320px) / 830));
  }

  .main__contacts {
    margin-top: calc(40px + 35 * ((100vw - 320px) / 830));
  }

  .contacts-main__item {
    margin-bottom: calc(20px + 25 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 991.98px) {
  .header__body {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-items: center;
  }

  .header__logo {
    grid-area: 1/1/2/3;
    margin-bottom: 15px;
  }

  .page {
    background: url("../img/bg02.png") top right/100% 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88)));
    background: url("../img/bg02.png") top right/100% 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
    background: url("../img/bg02.png") top right/100% 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%);
  }

  .borika .borika__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__description {
    width: 100%;
  }
}

@media (min-width: 991.98px) and (max-width: 1450px) {
  .borika .borika__body {
    padding-left: 120px;
  }
}

@media (max-width: 1480px) and (min-width: 991.98px) {
  .main__description {
    width: 45%;
  }
}

@media (any-hover: hover) {
  .header__languages-link:hover {
    color: #b8b8b8;
  }

  .contacts-main__link:hover,
  .contacts-main b:hover {
    color: #b8b8b8;
  }
}

@media (min-width: 1200px) {

  .webp .page { background: url(../img/bg.webp) top right/630px 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88))); }
}

@media (min-width: 1200px) {

  .webp .page { background: url(../img/bg.webp) top right/630px 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}

@media (min-width: 1200px) {

  .webp .page { background: url(../img/bg.webp) top right/630px 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}

@media (min-width: 2000px) {

  .webp .page { background: url(../img/bg.webp) top right/38.2812% 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88))); }
}

@media (min-width: 2000px) {

  .webp .page { background: url(../img/bg.webp) top right/38.2812% 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}

@media (min-width: 2000px) {

  .webp .page { background: url(../img/bg.webp) top right/38.2812% 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}

@media (max-width: 1200px) {

  .webp .page { background: url(../img/bg.webp) top right/500px 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88))); }
}

@media (max-width: 1200px) {

  .webp .page { background: url(../img/bg.webp) top right/500px 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}

@media (max-width: 1200px) {

  .webp .page { background: url(../img/bg.webp) top right/500px 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}

@media (max-width: 991.98px) {

  .webp .page { background: url(../img/bg02.webp) top right/100% 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.88))); }
}

@media (max-width: 991.98px) {

  .webp .page { background: url(../img/bg02.webp) top right/100% 100% no-repeat, -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}

@media (max-width: 991.98px) {

  .webp .page { background: url(../img/bg02.webp) top right/100% 100% no-repeat, linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.88) 100%); }
}